.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.3rem;
  background-color: #e6fcf5;
  overflow: hidden;
}

.aside-container {
  width: 100;
  grid-row: 1/9;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  font-size: 1.8rem;
}

.main-logo {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}


.username {
  text-transform: capitalize;
}

.side-navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #a9b2ba;
}

.side-navbar ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.sidenav-hover:hover,
.sidenav-hover:active {
  color: #6ab3eb;
}

.side-navbar p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.navbar {
  background-color: #fafafa;
  color: #a9b2ba;
  font-size: 1.6rem;
  grid-column: 2/-1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
}

.user-id {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.user-id p {
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.user-id span {
  letter-spacing: 0.25px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
}

.profile-username {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 3px;
  padding: 0.5rem 3rem;
  background-color: #6ab3eb;
  color: white;
}

.profile-auth {
  cursor: pointer;
}

.auth-actions {
  cursor: pointer;
  list-style-type: none;
  padding: 0.4rem 3.5rem;
  border-radius: 3px;
  color: black;
  margin: 0 auto;
  background: #a9b2ba;
  margin-top: 4px;
}

.main-section {
  background-color: #fafafa;
  grid-column: 2/-1;
  grid-row: 2/9;
  padding: 2rem;
  padding-bottom: 4rem;
  max-height: 100vh;
}





.main-icon-img{
  width: 4rem;
  width: 4rem;
}

.mp-l-hd{
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #880d0d;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}


.mp-l-hd {
  text-align: center;
  /* text-transform: uppercase; */
  padding-bottom: 5px;
}
.mp-l-hd:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.mp-l-hd:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 10px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}
